<html>
  <head>
    <meta charset="UTF-8" />
    <title>Milnii Reset Password</title>
  </head>

  <body>
    <h1>Your reset password link</h1>
    <p>
      <a href="<%= link %>" target="_blank"> <%= link %> </a>
    </p>
  </body>
</html>

